<h1>You have just received an email from your site</h1>

<p>
Name: <%= @message.name %>
</p>

<p>
Email: <%= @message.email %>
</p>

<p>
Subject: <%= @message.subject %>
</p>

<p>
Body: <%= @message.body %>
</p>
