<div id="interest">
  <h2>About Me</h2><p>Take you for taking the time to look at my site. My main hobbies are computers, be it learning computer languages 
    or tinkering with some hardware, basketball, and reading.  You can either catch me at Barnes Nobles either reading or 
    messing with my computer or you can catch me at the park playing basketball. </p>
  
</div>

<div id="projects">
  
  
</div>

<div id="skills">
  <h2>Education</h2><p>I graduated from Texas State with a Bachelor of Science in Computer Science with a minor in Mathamatics back in 2007. Some of
  my favorite classes were:
  <ul>
    <li>Software Engineering</li>
    <li>Computer Networking</li>
    <li>Unix Programming</li>
    <li>Calculus</li>
  </ul>
  </p>
</div>

<div id="jobs">
  <h2>Job History</h2>
  <ul class="jobs">
    <li><h4><%= link_to 'Neubus', 'http://www.neubus.com' %> (2006-2010)</h4>
      <p>I started as an intern and then was hired as a Software Developer once I graduated. As a Software Developer, I was in 
      charge of creating new applications, debugging current applications and providing technical support to many state agencies. </p>
    </li>
    <li><h4><%= link_to 'Pervasive', 'http://www.pervasive.com' %> (2010 - Present)</h4></li>
  </ul>
</div>


