
<center><h4>Enjoy this tic-tac-toe game built in jQuery</h4></center>
<table border="0px" align="center">
<tr><td>
<div id="menu"></div>
<div id="board"></div>
</td></tr>
</table>

<%= label_tag 'Reset', nil, :class => 'reset' %>
