<div class="main_menu">
<header id="header">
  <h1>
    <span>A personal portfolio with my resume, blogs, and other info</span>
  </h1>
</header>
  <nav id="nav">
  	<div id="nav_menu">
	    <ul>
	      <li><%= link_to "Home", home_path %></li>
	      <li><%= link_to "Austin", '#' %></li>   
	      <li><%= link_to "Tumblr", '#' %></li>  
	      <li><%= link_to "Games", games_path %></li>
	    </ul>
    </div>
  </nav>
 </div>
