<div class="block">
  <h3>
<<<<<<< HEAD
    <%= link_to "Contact Me", "/contact_us" %>
=======
    <%= link_to "Contact Me", '#' %>
>>>>>>> c50e685c08f9fc7452cd06cb74cfe3829c594bb2
 </h3>
  <p>Bonjour! I'm Eddie.</p>
  <div id="me">
  <%= link_to gravatar_for("eddielopezzzz@hotmail.com", :size => 30)%>
  </div>
</div>
<div class="block">
  <h3>Programming Languages</h3>
  <ul id="skills">
    <li>C#/C++</li>
    <li>PHP</li>
    <li>Ruby</li>
    <li>Java</li>
    <li>Bash scripting</li>
    <li>Objective C#</li>
  </ul>
</div>
<div class="block">
  <h3>Web Stuff</h3>
  <ul id="web_frameworks">
    <li>ASP.NET</li>
    <li>Rails</li>
    <li>Jquery/JavaScript</li>
    <li>HTML 5</li>
  </ul>
</div>
<div class="block">
  <h3>CMS</h3>
  <ul id="db_lang">
    <li>DNN</li>
    <li>Wordpress</li>
  </ul>
</div>
<div class="block">
  <h3>Database Languages</h3>
  <ul id="db_lang">
    <li>MS SQL</li>
    <li>MYSQL</li>
    <li>Postgres</li>
    <li>SQLite</li>
  </ul>
</div>
<div class="block">
  <h3>Other Projects</h3>
  <ul id="other_projects">
    <li>Windows Phone 7 development</li>
    <li>iPhone Development</li>
    <li>Android</li>
  </ul>
</div>
<div class="block">
  <h3>Interests</h3>
  <ul id="interest">
    <li>Family/Friends</li>
    <li>Basketball</li>
    <li>Reading</li>
    <li>Girls... hehe</li>
  </ul>
</div>

