<div class="block">
  <h3>
    <%= link_to "Contact Me", '#' %>
 </h3>
  <p>Bonjour! I'm Eddie. Welcome.</p>
  <div id="me">
  <%= link_to gravatar_for("eddielopezzzz@hotmail.com", :size => 30)%>
  </div>
</div>
