<div id="ShareSidebar">
  <%= facebook_like %>
  <div class="social_stuff">
    <%= link_to "Share", "http://www.facebook.com/sharer.php", :name=> "fb_share", :type => "box_count"%>
    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
  </div>
  <div class="social_stuff">
    <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
    <g:plusone size="tall"></g:plusone>
  </div>
  <div class="social_stuff">
    <%= link_to "Tweet", "http://twitter.com/share", :class=> "twitter-share-button"%>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></script>
  </div>

  <div class="social_stuff">
    <script src="http://www.stumbleupon.com/hostedbadge.php?s=5"></script>
  </div>
  <div class="social_stuff_more">
    <script type="text/javascript" src="http://platform.linkedin.com/in.js"></script>
    <script type="in/share" data-counter="top"></script>
    <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/eddielopezzzz" data-format="hover" data-text="Eduardo Lopez"></script>
  </div>		
</div>


